<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
    <%- include('../partials/header'); %>
</header>

<main>
    <div class="jumbotron">
        <h1>Express жүйесіне шолу</h1>
        <p>EJS қолданып қалай жүзеге асатынын үйрену</p>
    </div>
    <div class="image" style="display: flex;justify-content: center;margin-bottom: 20px">
        <img src="/img/bale.jpeg" alt="" width="200" height="300">
    </div>
</main>

<footer>
    <%- include('../partials/footer'); %>
</footer>

</body>
</html>
