<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/hello">EJS Test Template</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/hello">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/hello/nauryz">Contacts</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/books">Books</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/">Log In</a>
    </li>
      <li class="nav-item">
      <a class="nav-link" href="/logout">Log out</a>
    </li>
  </ul>
</nav>
